# Java / Maven
/target/
*.class
*.jar
.mvn/
.idea/
*.iml

# Node / React
/node_modules/
/build/
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.DS_Store

# Ignorar configuración local
/backend/src/main/resources/application.properties
